aws-cdk-lib==2.63.0
aws-cdk.aws-kinesisfirehose-alpha==2.63.0a0
aws-cdk.aws-kinesisfirehose-destinations-alpha==2.63.0a0
constructs==10.1.237
black==23.1.0
isort==5.12.0
pyproject-flake8==6.0.0.post1
