aws-cdk-lib==2.51.1
aws-cdk.aws-kinesisfirehose-alpha==2.51.1a0
aws-cdk.aws-kinesisfirehose-destinations-alpha==2.51.1a0
constructs==10.1.149
black==22.10.0
isort==5.10.1
pyproject-flake8==5.0.4.post1
